{:pom
 {:group-id "org.danielsz",
  :artifact-id "ring-utils",
  :version "0.2.4",
  :name "Ring utils"
  :licenses [{:name "Eclipse Public License -v 1.0"
              :url "https://opensource.org/license/epl-1-0/"}]},
 :packaging
 {:jar
  {:enabled true}},
 :distribution-management {:id "clojars", :url "https://clojars.org/repo"}
 :testing {:enabled false, :tools-deps-alias :test},
 :scm {:enabled false},
 :interactive
 {:enabled false,
  :tools-deps-alias :repl,
  :repl-port 4009,
  :repl-host "127.0.0.1",
  :system
  {:enabled false,
   :var "a.namespace/system-var",
   :ns-reload-on-change true,
   :restart-on-change ["handler.clj" "system.clj"]}},
 :graalvm {:enabled false, :with-https false},
 :profiles {:enabled false}}
